﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PlaceBuyOrder.aspx.cs" Inherits="WebRoleMyBroker.Operations.PlaceBuyOrder" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        <br />
    </p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        Titulo pretendido:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox_StockToBuy" runat="server"></asp:TextBox>
&nbsp;&nbsp;
        </p>
    <p>
        Nr de acções a comprar:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox_StockAmount" runat="server"></asp:TextBox>
    &nbsp;&nbsp;
        </p>
    <p>
        Número da sua conta bancária:&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox ID="TextBox_ClientBankAccount" runat="server"></asp:TextBox>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:Button ID="Button_SearchStock" runat="server" OnClick="Button_SearchStock_Click" Text="Ir" Width="132px" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p>
        &nbsp;</p>
    <p>
        Valor do título:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:Label ID="Label_StockValue" runat="server"></asp:Label>
    </p>
    <p>
        Montante necessário:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Label ID="Label_RequiredAmount" runat="server"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button_ConfirmOperation" runat="server" OnClick="Button_ConfirmOperation_Click" Text="Confirmar Operação" Width="141px" />
    </p>
    <p>
&nbsp;&nbsp;
        </p>
    <p>
        <asp:Label ID="Label_BankAccountBalanceCheckResult" runat="server"></asp:Label>
    </p>
</asp:Content>
