﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CheckBalance.aspx.cs" Inherits="WebRoleBank.CheckBalance" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        &nbsp;</p>
    <p>
        <br />
    </p>
    <p>
        Número de conta:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <asp:TextBox ID="TextBox_AccountNr" runat="server"></asp:TextBox>
    &nbsp;&nbsp;&nbsp;
    &nbsp;<asp:Button ID="Button_CheckBalance" runat="server" OnClick="Button_CheckBalance_Click" Text="Ver Saldo" Width="86px" />
    </p>
    <p>
        Saldo da sua conta é:&nbsp;&nbsp;
        <asp:Label ID="Label_accountBalance" runat="server"></asp:Label>
    </p>
</asp:Content>
