﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CreateAccount.aspx.cs" Inherits="WebRoleBank.CreateAccount" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        &nbsp;</p>
    <p>
        <br />
    </p>
    <p>
        Primeiro Nome:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox_firstName" runat="server"></asp:TextBox>
    </p>
    <p>
        Último Nome:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox_lastName" runat="server"></asp:TextBox>
    </p>
    <p>
        &nbsp;&nbsp;
    </p>
    <p>
        Saldo inicial:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox_initialBalance" runat="server"></asp:TextBox>
    &nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button_CreateAccount" runat="server" OnClick="Button_CreateAccount_Click" Text="Criar" Width="86px" />
    </p>
    <p>
        &nbsp;</p>
    <p>
        <asp:Label ID="LabelAccountNr" runat="server"></asp:Label>
&nbsp;<asp:Label ID="LabelBalance" runat="server"></asp:Label>
    </p>
</asp:Content>
