﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Deposit.aspx.cs" Inherits="WebRoleBank.Deposit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        Nr da conta bancária:
        <asp:TextBox ID="TextBox_AccountNr" runat="server"></asp:TextBox>
    </p>
    <p>
        Quantia a depositar:&nbsp;&nbsp;
        <asp:TextBox ID="TextBox_Amount" runat="server"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="ButtonDepositar" runat="server" OnClick="ButtonDepositar_Click" Text="Depositar" Width="86px" />
    </p>
</asp:Content>
