﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Withdraw.aspx.cs" Inherits="WebRoleBank.Withdraw" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
    <p>
        Nr da conta bancária:
        <asp:TextBox ID="TextBox_AccountNr" runat="server"></asp:TextBox>
    </p>
    <p>
        Quantia a levantar:&nbsp;&nbsp; &nbsp;
        <asp:TextBox ID="TextBox_Amount" runat="server"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="ButtonLevantar" runat="server" Text="Levantar" Width="86px" OnClick="ButtonLevantar_Click" />
    </p>
</asp:Content>
